.App {
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.selection {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  /* width: 100%; */
  max-width: 480px;
  padding: 2rem;
  margin: auto;
  justify-content: space-around;
}

.button-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.poll {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  margin: auto;
}

.chat-button {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

.chat-modal {
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.chat {
  display: flex;
  flex-direction: column;
}

.chat-bar {
  display: flex;
  align-items: center;
}

.chat-window {
  height: 100%;
  max-height: 350px;
  overflow-y: auto;
  padding-bottom: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
}

.card {
  border-radius: 4px;
  border: 1px solid gray;
  padding: 10px;
  margin-bottom: 10px;
}
